.footer {
    background-color: var(--section-background-color);
    padding-bottom: 64px;
    padding-top: 64px;
}

.footer-logo-black {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-logo-white {
    color: var(--primary-white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-addres-link {
    font-style: normal;
    text-decoration: none;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-addres-link {
    display: block;
    margin-bottom: 9px;
}

.footer-auth {
    padding-left: 0;
}

.footer-auth-nav {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color var(--turns-fast);
}

.footer-auth-nav:hover,
.footer-auth-nav:focus {
    color: var(--accent-color);
}

.footer-mail {
    margin-bottom: 9px;
}

.address-wraper {
    margin-right: 70px;
}

.join-list {
    display: flex;
    gap: 10px;
}

.join .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.join-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #43444d;
    fill: var(--primary-white-color);

    transition: background-color var(--turns-fast);
}

.join-socials-icon {
    fill: var(--primary-white-color);

    transition: fill var(--turns-fast);
}

.join-socials-link:hover,
.join-socials-link:focus {
    background-color: var(--accent-color);
}

.join-socials-link:hover .join-socials-icon,
.join-socials-link:focus .join-socials-icon {
    fill: var(--accent-color);
}

.footer-display {
    display: flex;
    align-items: baseline;
}

.follow-wrapper {
    display: flex;
}

.follow {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.mail-input {
    width: 358px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-right: 12px;
    padding: 15px 16px;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.follow-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    display: flex;
    margin-bottom: 20px;
}

.following-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);

    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
}

.follow-icon {
    margin-left: 10px;
}